.strengthItemWrapper {
    background-color: blue;
    background: rgb(255 255 255 / 20%);
    border: 1px solid #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.4rem;
    width: 16rem;
    text-align: center;
    color: #ffffff;
    gap: 1.4rem;
}

.strengthItemWrapper p {
    line-height: 1.4;
}