.TECHFReviewSwiperWrapper {
    margin-top: 1.6rem;
    position: relative;
    padding: 0 1rem;
    width: 100%;
}

.navigationWrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.navigationWrapper .arrowIcon {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 48%;
    transform: translateX(-1.6rem);
    z-index: 1;
}