.navLiItem {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    border-radius: 0 0 10px 10px;
    width: 100%;
    border-top: 4px solid #000000;
  }

  .navLiItem li {
    width: 100%;
  }
  
  .navLiItem li:hover {
    background-color: #efefef;
    overflow: hidden;
  }
  .navLiItem li:hover:last-child {
    border-radius: 0 0 10px 10px;
  
  }
  
  .itemLink {
    cursor: pointer;
    display: block;
    height: 100%;
  }