.headingBannerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
}

.headingBannerWrapper h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

.headingBannerWrapper p {
  line-height: 1.6;
  font-weight: 500;
}

.headingBannerWrapper p:nth-child(2) {
  font-size: 2.2rem;
  font-weight: 900;
  margin-top: 2rem;
  margin-bottom: 1.6rem;
}

.headingBannerWrapper p:nth-child(4) {
  margin-bottom: 1.6rem;
}

.headingBannerWrapper a {
  padding: 1rem 1.4rem;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}



/* ictEdu banner */

.ictBanner h2 {
  color: blue
}

.ictBanner a {
  background-color: rgba(0, 0, 225, 0.75);
  color: #ffffff;
}

.ictBanner a:hover {
  background-color: blue;
}

/* TECHF */
.techFBanner p:nth-child(2) {
  color: blue;
}


/* 반응형 */

@media (max-width: 1024px) {
  .headingBannerWrapper p:nth-child(2){
    font-size: 1.6rem;
  }
}

@media (max-width: 768px) {
  .headingBannerWrapper h2 {
    font-size: 1rem;
  }

  .headingBannerWrapper p:nth-child(2){
    font-size: 1.2rem;
  }

  .headingBannerWrapper p:nth-child(3){
    font-size: 0.8rem;
  }

  .headingBannerWrapper p:nth-child(4){
    font-size: 0.8rem;
  }

  .headingBannerWrapper a {
    font-size: 0.8rem;
    padding: 0.8rem 1.2rem;
  }

}