.pZoneWrapper {
    text-align: center;
    padding-bottom: 3rem;
}

.title {
    padding-top: 2rem;
    padding-bottom: 3rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.content {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.6;
}

.subContent {
    font-size: 1.2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}